h1{
    color:chocolate ;
    
}

button{
    color: green;
    background-color: black;
}

body{
    background-color: white;
}

div{
    background-color: blue;
    text-align: center;
    text-decoration: blue wavy underline;
}

.heading{
    color: red;
    text-decoration: wavy underline;
    font-weight: bolder;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

pro{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height:0%;
    text-transform:capitalize;
}