<!-- footer.html -->
<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6>BookStore</h6>
                <p>Your premier online bookstore serving readers across India.</p>
            </div>
            <div class="col-md-4">
                <h6>Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="about.html" class="text-white text-decoration-none">About</a></li>
                    <li><a href="cart.html" class="text-white text-decoration-none">Cart</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6>Contact</h6>
                <p>📧 info@bookstore.com<br>📱 +91 98765 43210</p>
            </div>
        </div>
        <hr class="my-3">
        <div class="text-center">
            <p class="mb-0">&copy; 2026 BookStore. All rights reserved.</p>
        </div>
    </div>
</footer>
